/* config-font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* config-reset */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

/* config-body */
body {
    font-family: 'Montserrat', sans-serif;
}

/* config-header */
header {
    width: 100%;
    height: 10vh;

    position: fixed;
    /* display: flex; */
}

.Container-Header {
    width: 100%;
    height: 10vh;

    background-color: #fff;
    display: flex;
}
.Box-IconPortflow {
    width: 50%;
    height: 10vh;

    display: flex;
    align-items: center;
    padding-left: 10vw;
}

.Box-SectionNav {
    width: 50%;
    height: 10vh;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Box-Nav {
    width: 50%;
    height: 10vh;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5vw;
}
.Box-Ul {
    width: 50%;
    height: 10vh;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Nav-Li {
    width: 10vw;
    
    color: rgb(117, 117, 117);
    font-size: 0.9rem;
    font-weight: lighter;

    padding: 1vw;
}
.Nav-Li:hover {
    color: black;
    cursor: pointer;
    font-weight: bolder;
}


/* config-main */
.Box-BackgroundBlue {
    width:100%;
    height: 80vh;
    
    background-image: url("Assets/Main-BackgroundImage.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Main-Title {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    
    padding-bottom: 2%;
    padding-left: 5%;
}
.Main-SubTitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;

    padding-left: 5.4%;
}

.Box-ImagesProdutos {
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.SectImage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding-top: 1%;
    padding-bottom: 1%;
}
.ImageMore {
    width: 22%;
    padding-right: 1%;
}


/* config-footer */
.Container-Footer {
    width: 100%;
    height: 10vh;

    display: flex;
    
    background-color: rgb(243, 243, 243);
}

.Box-RedesSociais {
    width: 30%;
    height: 10vh;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Footer-Icon {
    width: 6%;
}
.Footer-Icon:hover {
    cursor: pointer;
}

.Box-Copy {
    width: 70%;
    height: 10vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Title-Copy {
    padding-left: 5%;
    padding-right: 2%;

    font-size: 1rem;
}
.Text-Copy {
    font-size: 0.8rem;
}