/* config-font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* config-reset */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

/* config-body */

body {
    font-family: 'Montserrat', sans-serif;
}

/* config-header */

header {
    width: 100%;
    height: 10vh;

    position: fixed;
}

.container-header {
    width: 100%;
    height: 10vh;

    background-color: #fff;
    display: flex;
}

.box-iconportflow {
    width: 50%;
    height: 10vh;

    display: flex;
    align-items: center;
    padding-left: 6.5%;
}

.box-sectionnav {
    width: 50%;
    height: 10vh;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.box-nav {
    width: 50%;
    height: 10vh;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5vw;
}

.box-ul {
    width: 50%;
    height: 10vh;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-li {
    width: 10vw;
    
    color: rgb(117, 117, 117);
    font-size: 0.9em;
    font-weight: lighter;

    padding: 1vw;
}

.nav-li:hover {
    color: black;
    cursor: pointer;
    font-weight: bolder;
}


/* config-main */

.container-backgroundblue {
    width:100%;
    height: 80vh;
    
    background-image: url("Assets/Main-BackgroundImage.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-title {
    font-size: 3.6em;
    font-weight: bold;
    color: white;

    padding-left: 6%;
    
    /* position: absolute;
    left: 5%; */
}

.main-subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;

    padding-top: 2%;
    padding-left: 6.3%;

/*     position: absolute;
    top: 50%;
    left: 5.3%; */
}

.box-imagesprodutos {
    flex-wrap: wrap;
}

.sectimage {
    width: 100%;

    display: flex;
    justify-content: center;
}

.imagemore {
    width: 22%;
    
    display: flex;

    padding-top: 1%;
    padding-right: 1%;
}

/* config-footer */

footer {
    padding-top: 1%;
}

.container-footer {
    width: 100%;
    height: 10vh;

    padding-top: 2%;

    display: flex;
    
    background-color: rgb(243, 243, 243);
}

.box-espace {
    width: 4%;
}

.box-redessociais {
    width: 30%;
    height: 10vh;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-icon {
    width: 6%;
}

.footer-icon:hover {
    cursor: pointer;
}

.box-copy {
    width: 50%;
    height: 10vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title-copy {
    padding-left: 5%;
    padding-right: 2%;

    font-size: 1rem;
}

.text-copy {
    font-size: 0.8rem;
}

/* config - laptop responsive */

@media (max-width: 1024px) {
    
    /* config-main */
    
    .main-title {
        font-size: 2.7em;
    }

    .main-subtitle {
        font-size: 1.2em;
    }

    /* config-footer */

    .title-copy {
        font-size: 0.9em;
    }

    .text-copy {
        font-size: 0.8em;
    }
}

/* config - tablet responsive */

@media (max-width: 768px) {
    
    /* config-header */

    .nav-li {
        font-size: 0.8em;
    }

    /* config-main */

    .container-backgroundblue {
        height: 50vh;
    }

    .main-title {
        font-size: 2em;

        padding-top: 6%;
    }

    .main-subtitle {
        font-size: 0.9em;
    }

    /* config-footer */

    .title-copy {
        font-size: 0.8em;
    }
    .text-copy {
        font-size: 0.6em;
    }
}
