/* config-font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* config-reset */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

/* config-body */

body {
    font-family: 'Montserrat', sans-serif;
}

/* config-header */

header {
    width: 100%;
    height: 10vh;

    position: fixed;
}

.container-header {
    width: 100%;
    height: 10vh;

    background-color: #fff;
    display: flex;
}

.box-menus {
    width: 70%;
    
    display: flex;
    flex-direction: row;
}

.box-menu {
    display: none;
}

.box-portflow {
    width: 50%;
    height: 10vh;

    display: flex;
    align-items: center;
    margin-left: 6vw;
}

.header-title {
    font-size: 1.3em;
}

.box-sectionnav {
    width:85vw;
    height: 10vh;

    margin-right: 14vw;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.box-nav {
    width: 40%;
    height: 10vh;
}

.box-ul {
    width: 50%;
    height: 10vh;

    display: flex;
    align-items: center;
}

.nav-li {
    width: 10vw;
    
    font-size: 0.9em;
    font-weight: lighter;

    padding: 1vw;
}

.nav-li:hover {
    color: black;
    cursor: pointer;
    font-weight: bolder;
}

.header-ancora {
    color: rgb(77, 77, 77);
    text-decoration: none;
}

.header-ancora:hover {
    color: black;
    font-weight: bolder;

    cursor: pointer;
}

/* config-main */

.container-backgroundblue {
    width:100%;
    height: 80vh;
    
    background-image: url("Assets/Main-BackgroundImage.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-title {
    font-size: 3.6em;
    font-weight: bold;
    color: white;

    padding-left: 6%;
}

.main-subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;

    padding-top: 2%;
    padding-left: 6.3%;

/*     position: absolute;
    top: 50%;
    left: 5.3%; */
}

.box-imagesprodutos {
    flex-wrap: wrap;
}

.sectimage {
    width: 100%;

    display: flex;
    justify-content: center;
}

.imagemore {
    width: 22%;
    
    display: flex;

    padding-top: 1%;
    padding-right: 1%;
}

/* config-footer */

footer {
    padding-top: 1%;
}

.container-footer {
    width: 100%;
    height: 10vh;

    display: flex;
    
    background-color: rgb(243, 243, 243);
}

.box-espace {
    width: 4%;
}

.box-redessociais {
    width: 30%;
    height: 10vh;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-icon {
    width: 6%;
}

.footer-icon:hover {
    cursor: pointer;
}

.box-copy {
    width: 50%;
    height: 10vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title-copy {
    padding-left: 5%;
    padding-right: 2%;

    font-size: 1rem;
}

.text-copy {
    font-size: 0.8rem;
}

.footer-boxbutton {
    display: none;       
}

/* config - laptop responsive */

@media (max-width: 1024px) {
    
    /* config-header */

    .box-nav {
        margin-right: 6vw;
    }

    /* config-main */
    
    .main-title {
        font-size: 2.7em;
    }

    .main-subtitle {
        font-size: 1.2em;
    }

    /* config-footer */

    .title-copy {
        font-size: 0.9em;
    }

    .text-copy {
        font-size: 0.65em;
    }
}

/* config - tablet responsive */

@media (max-width: 768px) {
    
    /* config-header */

    .box-portflow {
        margin-left: 10vw;
    }

    .box-nav {
        margin-right: 13vw;
    }

    .nav-li {
        font-size: 0.7em;
    }

    /* config-main */

    .container-backgroundblue {
        height: 50vh;
    }

    .main-title {
        font-size: 2em;

        padding-left: 10vw;
        padding-top: 6vh;
    }

    .main-subtitle {
        padding-left: 10vw;

        font-size: 0.9em;
    }

    .sectimage {
        display: flex;
        flex-wrap: wrap;
    }

    .imagemore {
        width: 40%;
    }

    /* config-footer */

    .box-redessociais {
        margin-left: 4vw;
    }

    .title-copy {
        font-size: 0.8em;
    }
    .text-copy {
        font-size: 0.5em;
    }
}

@media (max-width: 560px) {
    
    /* config-header */
    
    .nav-li {
        font-size: 0.6em;
    }
    
    /* config-main */

    .main-title {
        font-size: 1.8em;
    }

    .sectimage {
        display: flex;
        flex-wrap: wrap;
    }

    .imagemore {
        width: 60%;
    }

    /* config-footer */

    .title-copy {
        font-size: 0.6em;
    }

    .text-copy {
        font-size: 0.5em;
    }
}

@media (max-width: 500px) {
    
    /* config-header */
    
    .nav-li {
        font-size: 0.55em;
    }

    /* config-main */

}

@media (max-width: 426px) {
    
    .box-sectionnav{
        visibility: hidden;
    }
}

@media (max-width: 425px) {
    
    /* config-header */

    .container-header {
        height: 5vh;
    }

    .box-portflow {
        width: 100%;
        height: 5vh;

        display: flex;
        justify-content: center;
    }

    .box-menu {
        width: 100%;
        height: 100%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        background-color: black;
    }

    .header-hrone {
        width: 5vw;
        height: 0.4vh;

        border: none;
        background-color: white;
    }
    
    .header-hrtwo {
        width: 5vw;
        height: 0.4vh;

        border: none;
        background-color: white;
    }
    
    .header-hrthree {
        width: 5vw;
        height: 0.4vh;

        border: none;
        background-color: white;
    }

    .box-sectionnav {
        width: 30vw;
        height: 35vh;
    
        background-color: black;

        position: absolute;
        top: 5vh;
    }
    
    .box-nav {
        width: 100%;
        height: 35vh;
    }
    
    .box-ul {
        width: 30vw;
        height: 35vh;

        flex-direction: column;
        justify-content: space-evenly;

        position: absolute;
        top: 1vh;
    }

    .nav-li {
        width: 30vw;
        height: 7vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-li:hover {
        color: black;
        background-color: #fff;
    }

    .nav-li:hover .header-ancora {
        color: black;
    }

    .header-ancora {
        color: #fff;
        font-size: 1.1em;
        font-weight: bold;
    }

    .header-title {
        font-size: 1.1em;
    }

    /* config-main */
    
    .container-backgroundblue {
        height: 125vh;        
        
        background-image: url("Assets/main-backgroundmobile.png");
        background-repeat: no-repeat;
        background-size: cover;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .main-title {
        width: 40%;

        padding-bottom: 5%;

        font-size: 3em;
    }

    .main-subtitle {
        padding-bottom: 10%;
    }

    /* config-footer */

    .container-footer {
        height: 25vh;

        flex-direction: column;
        align-items: center;
    }

    .box-redessociais {
        width: 59.4vw;

        background-color: #7FDBD4;

        margin-right: 5%;
    }

    .footer-icon {
        width: 5vw;
    }

    .box-copy {
        width: 59.4vw;
        
        margin-top: 3vh;

        flex-direction: column;
        align-items: flex-start;
    }

    .title-copy {
        padding: 0;
    }

    .text-copy {
        width: 25vw;
    }

    .footer-boxbutton {
        width: 15vw;
        height: 5vh;
        
        display: flex;
        align-items: flex-end;
        
        position: absolute;
        top: 718vh;
        right: 21vw;

        z-index: 1;
    }

    .footer-button {
        width: 15vw;
        height: 5vh;

        color: #CCCCCC;
        background-color: #333333;
        border: none;
    }

}
